*, ::before , ::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif,Arial, Helvetica, sans-serif;
}
:root{
  --darkpink :#e415c5;
  --darkyellow :#EDDC00;
  --darkRed :#D01E26;
  --mediumgreen:#1F7F45;
  --dark:#333;
  --shadow:0 1px 5px rgba(104,104,104,0.8);
}
.grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 10px;
}
.flex {
  display: flex;
  flex-direction: column;
}
.App{
  position: relative;
}